<div id="backdrop" class="modal-backdrop fade" [ngClass]="{ show: showModal }"></div>
<div class="modal d-block fade"
     [ngClass]="{ show: showModal }"
     (click)="onClose()"
     id="listing-dialog"
     tabindex="-1" role="dialog" aria-labelledby="modalIdLabel">
    <div class="modal-dialog" role="document" (click)="onDialogClick($event)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        (click)="onClose()"
                        aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display: flex; justify-content: space-evenly; width: 100%; margin-top: 5px;">
                    <mat-form-field class="my-options">
                        <mat-select placeholder="Select your language"
                                    [(ngModel)]="currentLanguage" [disabled]="recognizing">
                          <mat-option *ngFor="let language of languages" [value]="language" (click)="onSelectLanguage(language)">
                            {{language}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
<form [formGroup]="documentGrp" (ngSubmit)="OnSubmit(documentGrp.value)"
      ngNativeValidate style="margin-top: -25px;">
    <div class="box box-solid box-primary">
        <label class="padded" style="width: 100%;">
            News Topic:
            <div style="align-items: flex-start; padding-top: 0px;">
                <button #startTopButton type="button" [disabled]="startTopButtonDisabled" class="btn btn-primary" (click)="startCamera($event)">Start Microphone</button>
            </div>
            <div class="form-group ">
                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea #topBox formControlName="news_topic" id="news_topic"
                              class="md-textarea news_topic form-control" rows="4"
                              placeholder="Enter document topics" [value]="isTopicActivated?(speechMessages|async)?.transcript:miTopText"></textarea>
                </div>
                <div class="help-block"></div>
            </div>
        </label>
    </div>
    <div class="box box-solid box-primary">
        <label class="padded" style="width: 100%;">
            Describe News:
            <div style="align-items: flex-start; padding-top: 0px;">
                <button #startDescButton type="button" [disabled]="startDescButtonDisabled" class="btn btn-primary" (click)="startCamera($event)">Start Microphone</button>
            </div>
            <div class="form-group ">

                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea #textBox formControlName="news_description" id="news_description"
                              class="md-textarea news_description form-control" rows="7"
                              placeholder="Enter document Category" [value]="isDescActivated?(speechMessages|async)?.transcript:miDescText"></textarea>
                </div>
            </div>
        </label>
    </div>
  
    <div class="box box-solid box-primary" style="width: 98%; padding-left: .75rem;">

        <div class="box-body" formArrayName="items">

            <div class="row">
                <div class="col-sm-12">

                    <div *ngFor="let item of items.controls; let i = index;">
                        <div [formGroupName]="i">
                                        <div class="custom-file form-group">
                                            <input type="file" class="custom-file-input" id="file-input" (change)="fileSelectionEvents($event,i)" multiple>
                                            <label class="custom-file-label" for="file-input" data-browse="Media-Ekle">Media Dosyası Ekle</label>
                                        </div>
                            <app-files-thumbnails [thumbs]="thumbnails|async" style="display: table"></app-files-thumbnails>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer" style="align-content: center; text-align: center; padding: 20px">
            <button [disabled]="!isValid()" type="submit" class="btn btn-primary" style="width: 50%">Yayımla</button>
        </div>
    </div>
</form> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
            </div>
        </div>
    </div>
</div>
