<form [formGroup]="clientForm" style="width: 500px; display: table; margin: 0 auto;">
  <button mat-button  (click)="selectallusers()">Select All Users</button>
<mat-selection-list formControlName="myOtherControl" #users (selectionChange)="onSelection($event, users.selectedOptions.selected)">
  <mat-list-option *ngFor="let user of userList|async" [value] ="user">
    {{user.key}} = {{user.totalBalance}} TL
  </mat-list-option>
</mat-selection-list>
  <button [disabled]="!users.selectedOptions.hasValue()" type="submit" (click)="payMe()" class="btn btn-block" style="background-color: #fb0d1b;color: white; margin-top: 30px">Pay All</button>
  <button mat-button  (click)="deselectusers()">Deselect All Users</button>
</form>
