span.mat-button-wrapper {
  ::before,
  ::after {
    height: 55px;
  }
}
.mat-icon-button, .mat-icon{
  width: 44px;
  height: 44px;
  line-height: 66px !important;
  font-size: inherit;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 1079px) {
  span.notification {
    visibility: hidden;
    width: 0;
  }
}
@media only screen and (min-width: 1080px) {
  span.notification {
    padding: 10px;
  }
}
div.right-side{
  display: flex;
  justify-content: center;
}
.fes{
  max-width: 150px;
  border-radius: 25%;
  min-width: 55px !important;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  color: inherit;
  background: transparent;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  line-height: 44px;
}