<form [formGroup]="searchForm" style="height: 100%; overflow: hidden">
    <div class="form-group">
        <input type="search" class="form-control" autofocus="true" placeholder="Enter search string"
            [formControl]="searchField">
    </div>
</form>
<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links" (click)="onClick(link)" [active]="activeLink == link"
        style="min-width: 50%;"> {{link}} </a>
</nav>
<div class="news" style="margin-top: 0px">
    
    <ul class="items" [ngSwitch]="searchType===0">

        <app-news-list *ngSwitchCase="false" [newsList]="newsResults" [orderBy]="'count'" [activeLink]="activeLink"
            [currLink]="activeLink"></app-news-list>
        <app-profile-list *ngSwitchCase="true" [users]="usersResults" [booled]="true"></app-profile-list>

    </ul>
</div>
<router-outlet></router-outlet>