.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    /* padding: 10px;*/
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .form-control {
    padding: 0em !important;
  }
  
  /*
  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0; 
  }
  */
  .mat-toolbar-single-row{
    height: 80px;
  }
  
  .newsz{
    /*  padding: 17px;*/
    margin-bottom: 1px;
    text-align: left;
    display: flex;
  }
  .newsz ul{
    /*  width: 50%; */
    display: table;
    margin: 0 auto;
    padding: 0;
    border-bottom: 17px solid #E3E3E3;
  }
  .news-list {
    display: flex;
    width: 100%;
    border-top: 10px solid #E3E3E3;
    border-left: 10px solid #E3E3E3;
    border-right: 10px solid #E3E3E3;
    min-height: 111px;
    clear: both;
    /* min-width: 617px; */
    padding: 10px 0 10px;
  }
  
  .news-list a {
    display: contents;
    position: relative;
    color: #222;
    margin-left: 10px;
    text-decoration: none;
    height: 100px;
  }
  
  .news-list img {
    display: block;
    width: 174px;
    height: 109px;
    float: left;
    margin-right: 0px;
  }
  
  .news-list h4 {
    display: table-cell;
    padding: 0 10px 8px 10px;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    /*  height: 100px; */
    box-sizing: content-box;
    height: 80px;
    max-height: 81px;
  }
  span.date {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAApklEQVQokZ2SvQ2EMAxGqYJgBXY5WAiu45aKBExBQQHMAsVRwRfpIwoh/BZPimy/yE7sSSm9N9gBATJQg4HUjIkjMQItKEACQpIw1rJmIwomfiftqVwHfFNMQWUVzg65Yq0W1RzxDTFmrRYnznMlBuB/RzRZxeGqVRe7VjPH47goWatFn0+dn0gq19vfYS/AhzMHPBe8eLcA5iJ8QQNG0jB2uHKPWADmubQu+wYFMgAAAABJRU5ErkJggg==) no-repeat center left;
    background-size: 12px;
    text-indent: 15px;
    color: #666;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
    display: inline-block;
  }
  .mat-toolbar.mat-primary {
    background: purple;
    color: #fff;
  }
  .mat-ink-bar{
    ::before,
    ::after {
      content: "";
      height: 2px;
      width: 33% !important;
      background-color: white;
      position: absolute;
      left: 0;
    }
  }
  .mat-tab-label-active{
    background: white;
  }
  .mat-tab-nav-bar{
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: -webkit-center;
    background-color: #f3f3f3;
  }
  span.mat-button-wrapper {
    ::before,
    ::after {
      height: 66px;
    }
  }
  .mat-icon-button, .mat-icon{
    width: 66px;
    height: 66px;
    line-height: 60px !important;
    font-size: inherit;
  }
  
  