<div class="newst" #dataContainer [style.minHeight]="hght+'px'">
    <div *ngIf="activeLink!=null&&(activeLink.charAt(0)=='@'|| activeLink.charAt(0)=='#')"
        style="/*text-align: center;*/margin-left: 29%; padding-top: 17px;">
        <app-edit-tags-list [tags]="getLink(activeLink)" [booled]="true" [isPub]="isPub"></app-edit-tags-list>
    </div>
    <div class="newsm">
        <div class="top-tags" [ngStyle]="leftListStyle">
            <h3>Trend Topics</h3>
            <a *ngFor="let tag of newsService.topTags | async"
                (click)="onTagClick(tag.key);$event.stopPropagation();$event.preventDefault()"
                style="width: 200px; cursor: pointer;"> {{tag.key}}</a>
        </div>
        <div class="sliderrr-wrapper" [ngStyle]="carouselStyle">
            <div class="bx-wrapper" [ngStyle]="miCarouselStyle">
                <div #listContainer [ngStyle]="miCarouselStyle">
                    <ul #carousel class="carousel-inner" [ngStyle]="carouselWrapStyle">
                        <li class="media-image" *ngFor="let review of links;let i = index">
                            <app-news-list
                                [newsList]="i === 0 ? newsService.newsStreamList$ : i === 1 ? newsService.tagsStreamList$ : newsService.peopleStreamList$"
                                [activeLink]="activeLink" [currLink]="review"></app-news-list>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="reklam" [ngStyle]="rightListStyle">
        </div>
    </div>
</div>
<router-outlet></router-outlet>